<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Lession09/css/bt1.css">
</head>
<body>
    <section class="product">
        <div class="product-box">
            <div class="row">
               <div class="note">
                    <h2>PHÒNG KHÁCH</h2>
                    <p><a href="">XEM TẤT CẢ</a></p>
               </div>
                <div class="product-img">
                    <div class="product-item">
                        <img src="/Lession09/images/san-pham-noi-bat/giuong-ngu.png" alt="">
                        <h3>GIƯỜNG NGỦ</h3>

                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>

                        <p><span>Size vừa, trắng sữa</span></p>
                        <p>8.999.000 VNĐ</p>
                    </div>
                    
                    <div class="product-item">
                        <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        <h3>KỆ ĐẦU GIƯỜNG</h3>

                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>

                        <p><span>2 ngăn, gỗ lim</span></p>
                        <p>8.999.000 VNĐ</p>
                    </div>
                    <div class="product-item">
                        <img src="/Lession09/images/san-pham-noi-bat/phong-khach-ban-uong-nuoc-2.png" alt="">
                        <h3>BÀN UỐNG NƯỚC 2</h3>

                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>

                        <p><span>Size vừa, nâu vân gỗ</span></p>
                        <p>8.999.000 VNĐ</p>
                    </div>
                    <div class="product-item">
                        <img src="/Lession09/images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png" alt="">
                        <h3>KỆ TV</h3>

                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>
                        <i class="fa-sharp fa-solid fa-star"></i>

                        <p><span>4 ngăn, gỗ lim</span></p>
                        <p>8.999.000 VNĐ</p>
                    </div>
                </div>
            </div>
        </div>    
        
</section>
</body>
</html>