<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Lession09/css/ex1.css">
</head>

<body>
    <header>Responsive - Mobile firt</header>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid mollitia laboriosam nobis saepe molestiae
            accusamus. Nesciunt, facilis dolorem debitis in accusantium veniam quasi delectus est laboriosam excepturi
            eligendi dignissimos libero.</p>
    </section>
</body>

</html>