<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Lession09/css/sanpham.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <div class="container bg-white">
            <div class="row">
                <div class="img-logo">
                    <img src="/Lession09/images/logo.png" alt="Xưởng mộc">
                </div>
            </div>
        </div>
    </header>
    <section id="san-pham">
        <div class="container ">
            <div class="row bg-white">
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/phong-khach-ban-uong-nuoc.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn uống nước</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Kệ ti vi</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/giuong-ngu.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Giường ngủ</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="img">
                            <img src="/Lession09/images/san-pham-noi-bat/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="content">
                            <h3><a href="#" title="Bàn uống nước">Bàn trà</a></h3>
                            <p>9.000.000</p>
                            <p>8.999.999 VNĐ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>