<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive2</title>
    <link rel="stylesheet" href="/Ontap/css/index-2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <section>
        <h1>Khóa học</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste deleniti odio et sit magni aliquid itaque
            rerum veritatis veniam adipisci, sunt eos voluptas officiis temporibus, quisquam hic repellendus sint.
        </p>
        <div class="row">
            <div class="col">
                <div><i class="fa-solid fa-pen"></i></div>
                <div>
                    <h3>.Net C#</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam cupiditate error, neque
                        obcaecati fuga earum quas atque nulla beatae, est ipsum! Odit maxime quis quo maiores id totam
                        perspiciatis.
                    </p>
                </div>
            </div>
            <div class="col">
                <div><i class="fa-solid fa-pen"></i></div>
                <div>
                    <h3>JavaScript</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam cupiditate error, neque
                        obcaecati fuga earum quas atque nulla beatae, est ipsum! Odit maxime quis quo maiores id totam
                        perspiciatis.
                    </p>
                </div>
            </div>
            <div class="col">
                <div><i class="fa-solid fa-pen"></i></div>
                <div>
                    <h3>C++</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam cupiditate error, neque
                        obcaecati fuga earum quas atque nulla beatae, est ipsum! Odit maxime quis quo maiores id totam
                        perspiciatis.
                    </p>
                </div>
            </div>
            <div class="col">
                <div><i class="fa-solid fa-pen"></i></div>
                <div>
                    <h3>NetCore</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam cupiditate error, neque
                        obcaecati fuga earum quas atque nulla beatae, est ipsum! Odit maxime quis quo maiores id totam
                        perspiciatis.
                    </p>
                </div>
            </div>
            <div class="col">
                <div><i class="fa-solid fa-pen"></i></div>
                <div>
                    <h3>Java</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam cupiditate error, neque
                        obcaecati fuga earum quas atque nulla beatqae, est ipsum! Odit maxime quis quo maiores id totam
                        perspiciatis.
                    </p>
                </div>
            </div>
            <div class="col">
                <div><i class="fa-solid fa-pen"></i></div>
                <div>
                    <h3>Python</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquam cupiditate error, neque
                        obcaecati fuga earum quas atque nulla beatae, est ipsum! Odit maxime quis quo maiores id totam
                        perspiciatis.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>