<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Responsive</title>
    <link rel="stylesheet" href="/Ontap/css/index-1.css">
</head>
<body>
    <section id="album">
        <div class="container">
            <div>
                Đây là Responsive
            </div>
            <div class="row">
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <img src="/Ontap/img/op1.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>