<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lession06/css/Index.css">
    <link rel="stylesheet" href="/Lession06/css/Tintuc.css">
    <title>Document</title>
</head>

<body>
    <!-- start: menu -->
    <header>
        <div class="logo">
            <a href="index.html"><img src="/Lession06/images/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Sản phẩm</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Đối tác</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="icon">
            <div class="item-bag"><i class="fa-solid fa-bag-shopping"></i></div>
            <div class="item-heart"><i class="fa-regular fa-heart"></i></div>
            <div class="item-glass"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
    </header>
    <!--end: menu -->

    <!-- start: banner -->
    <div class="home-banner">
        <div class="home-banner_content">
            <h1>
                THẾ GIỚI NỘI THẤT SỐ 1 VIỆT NAM <br> <span></span>
            </h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quo vitae numquam qui inventore facilis
                repellendus ipsa iure facere fuga odio id, ad obcaecati dignissimos dolores. Temporibus alias id
                quisquam?
            </p>
            <button class="home-banner_btn">
                <a href="#">LIÊN HỆ NGAY</a>
            </button>
        </div>
    </div>
    <!-- end: banner -->

    <!-- BEGIN:PRODUCT -->
    <section class="product">
        <div class="container">
            <div class="category">      
                    
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-phong-khach.png" alt="">
                    <p>Phòng khách</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-do-trang-tri.png" alt="">
                    <p>Đồ trang trí</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-phong-bep.png" alt="">
                    <p>Phòng bếp</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-cau-thang.png" alt="">
                    <p>Cầu thang</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-phong-ngu.png" alt="">
                    <p>Phòng ngủ</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-phong-tam.png" alt="">
                    <p>Phòng tắm</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-tre-em.png" alt="">
                    <p>Trẻ em</p>
                </div>
                <div class="slider text-center">
                    <img src="../images/loai-sp/icon-van-phong.png" alt="">
                    <p>Văn phòng</p>
                </div>
                    
                </div>
            
            </div>
        </section>
    </section>
<!-- END:PRODUCT -->
<footer>
    <div class="footer">
        <div>
            <h2>Thông tin chung</h2>
            <h5 class="h5"></h5>
            <br>
            <h1>CÔNG TY TNHH HOÀNG HOAN</h1>
            <br>
            <h4><i class="fa-solid fa-phone"></i>0999999999</h4>
            <br>
            <h4><i class="fa-solid fa-envelope"></i>cskh@hoanghoan.vn</h4>
            <br>
            <h4><i class="fa-solid fa-location-dot"></i>Số 1 Nguyễn Trãi, Thanh Xuân, Hà Nội</h4>
        </div>
        <div>
            <h2>Về chúng tôi</h2>
            <h5 class="h5"></h5>
            <br>
            <h3>Giới thiệu</h3>
            <br>
            <h4>Sản phẩm</h4>
            <br>
            <h4>Tin tức</h4>
            <br>
            <h4>Đối tác</h4>
            <br>
            <h4>Liên hệ</h4>
        </div>
        <div>
            <h2>Kết nối với chúng tôi</h2>
            <h5 class="h5"></h5>
            <br>
            <div><i class="fa-brands fa-facebook"></i><i class="fa-regular fa-envelope"></i><i
                    class="fa-brands fa-twitter"></i></div>
            <br>
            <div>
                <img src="./chatluong.jpg" alt="Ảnh chất lượng">
            </div>
        </div>
    </div>

</footer>
</body>

</html>