<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/Lession6,7,8/css/Index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="/Lession6,7,8/images/logo.png" alt="logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Sản phẩm</a></li>
                <li><a href="">Tin tức</a></li>
                <li><a href="">Đối tác</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </nav>
        <div class="icon">
            <div class="item-bag"><i class="fa-solid fa-bag-shopping"></i></div>
            <div class="item-heart"><i class="fa-regular fa-heart"></i></div>
            <div class="item-glass"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
    </header>
    <div class="news">
        <div class="trasition">
            <div class="link">
                <a href="">Trang chủ</a> > <a href="">Tin tức</a>
            </div>
            <div class="container">
                <div class="left">
                    <h2>Top 10 mẫu nội thất chung cư 1 phòng ngủ</h2>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, vitae fugit. Commodi ut est
                        pariatur nobis culpa repudiandae. Laudantium deserunt officia non debitis repellendus,
                        consectetur eum natus quaerat cumque fugit!
                    </p>
                    <br>
                    <div class="imgnews"><img src="/Lession6,7,8/images/tin-tuc/tintuc-1.jpg" alt="Ảnh tin tức chính">
                    </div>
                </div>
                <div class="right">
                    <h3>Bài viết mới</h3>
                    <div class="row">
                        <div class="col"><img src="/Lession6,7,8/images/tintuc-2.jpg" alt=""></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VƠI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ ĐẸP</p>
                            <P><i class="fa-regular fa-clock"></i> 7/30/2020 11:46:34 PM</P>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><img src="/Lession6,7,8/images/tintuc-2.jpg" alt=""></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VƠI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ ĐẸP</p>
                            <P><i class="fa-regular fa-clock"></i> 7/30/2020 11:46:34 PM</P>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><img src="/Lession6,7,8/images/tintuc-2.jpg" alt=""></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VƠI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ ĐẸP</p>
                            <P><i class="fa-regular fa-clock"></i> 7/30/2020 11:46:34 PM</P>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"><img src="/Lession6,7,8/images/tintuc-2.jpg" alt=""></div>
                        <div class="collum">
                            <p>NGẤT NGÂY VƠI TOP 10 MẪU NỘI THẤT CHUNG CƯ 1 PHÒNG NGỦ ĐẸP</p>
                            <P><i class="fa-regular fa-clock"></i> 7/30/2020 11:46:34 PM</P>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- start: about-us -->
    <div class="about">
        <div class="aboutus">
            <h1>Giới thiệu</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quibusdam a repudiandae blanditiis,
                quidem eveniet debitis consectetur voluptatem ipsa modi incidunt quas corrupti nisi molestiae! Totam
                distinctio asperiores soluta nisi.
            </p>
            <a href="aboutus">
                Xem thêm ...
            </a>
        </div>
        <section class="row">
            <div class="col">
                <img src="/Lession06/images/ve-chung-toi/bao-hanh.jpg" alt="">
            </div>
            <div class="col">
                <img src="/Lession06/images/ve-chung-toi/bao-hanh.jpg" alt="">
            </div>
            <div class="col">
                <img src="/Lession06/images/ve-chung-toi/bao-hanh.jpg" alt="">
            </div>
            <div class="col">
                <img src="/Lession06/images/ve-chung-toi/bao-hanh.jpg" alt="">
            </div>
        </section>
    </div>
    <!-- end: about-us -->
</body>
</html>