<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trasenbachdiep</title>
    <link rel="stylesheet" href="/ktra2709/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/ktra2709/images/logoindex.png" alt="" style="width: 80%;">
            </div>
            <ul class="menu">
                <li class="menu-item"><a href="#">TRANG CHỦ</a></li>
                <li class="menu-item"><a href="#">GIỚI THIỆU</a></li>
                <li class="menu-item"><a href="#">SẢN PHẨM</a></li>
                <li class="menu-item"><a href="#">TIN TỨC</a></li>
                <li class="menu-item"><a href="#">LIÊN HỆ</a></li>     
            </ul>
        </nav>
    </header>
    <section class="news">

        <div class="background">
            <img src="/ktra2709/images/background-tintuc.png" alt="">
        </div>
        <div class="news-box">

            <div class="row">
                <div class="note">
                    <h1>TIN TỨC</h1>
                </div>

                <div class="news-img">
                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_07.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Văn hóa uống trà của người Việt, câu chuyện xưa và nay</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>

                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_08.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Chè xanh Thái Nguyên ướp hoa nhài</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_09.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Cách bảo quản trà Shan tuyết để giữ được vị hương thơm</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_07.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Văn hóa uống trà của người Việt, câu chuyện xưa và nay</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>

                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_08.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Chè xanh Thái Nguyên ướp hoa nhài</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_09.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Cách bảo quản trà Shan tuyết để giữ được vị hương thơm</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_07.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Văn hóa uống trà của người Việt, câu chuyện xưa và nay</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>

                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_08.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Chè xanh Thái Nguyên ướp hoa nhài</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div>
                            <img src="/ktra2709/images/TINTUC_09.jpg" alt="">
                        </div>
                        <div>
                            <h2><a href="">Cách bảo quản trà Shan tuyết để giữ được vị hương thơm</a></h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Facilis voluptate at cum. Exercitationem sed, rerum
                                delectus ducimus minus magni tempore deleniti accusantium,
                                porro ex totam voluptatem architecto itaque dolor repudiandae.
                            </p>
                        </div>
                    </div>
                </div>
                <div>
                    <button><a href="">1</a></button>
                    <button><a href="">2</a></button>
                    <button><a href="">3</a></button>
                    <button><a href="">4</a></button>
                    <button>>></button>
                </div>
            </div>
        </div>
    </section>
    <!-- BEGIN: footer -->
    <footer>
        <div class="container">
            <div class="infor">
                <div class="logo-ft">
                    <img src="/ktra2709/images/logoindex.png" alt="" style="width: 50%;">
                </div>
                <ul class="list-infor">
                    <li><i class="fa-solid fa-phone"></i>&nbsp;0828345288</li>
                    <li><i class="fa-solid fa-envelope"></i>&nbsp;tienanh@gmail.com</li>
                    <li><i class="fa-solid fa-location-dot"></i> &nbsp;Chiêm hóa, Tuyên Quang</li>
                </ul>
            </div>
            <div class="about-us">
                <div class="title">
                    VỀ CHÚNG TÔI
                </div>
                <ul class="list-pages">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">sản phẩm</a></li>
                    <li><a href="#">Tin tức</a></li>
                </ul>
            </div>
            <div class="contact">
                <div class="title">
                    LIÊN HỆ
                </div>
                <ul>
                    <li>
                        <div>
                            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                        </div>
                        <div>
                            <a href="#"><i class="fa-brands fa-instalod"></i></a>
                        </div>
                        <div>
                            <a href="#"><i class="fa-solid fa-envelopes-bulk"></i></a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </footer>
</body>

</html>